.home-card{
    width: 25rem;
    height: 20rem;
    border-radius: 16px;
    background-color: var(--home-card-bg);
    display: grid;
    grid-template-columns: 42.5% 42.5% 15%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "image image card-aside"
        "card-below card-below card-aside";
}

.video-part{
    border-radius: 15px;
    width: 22rem;
    height: 18rem;
    transform: translate(-7px, -20px);
    grid-area: image;
}

.play-action{
    padding: 10px;
    transform: translate(-37px, 41px);
    z-index: 2;
    color: var(--warning-background);
    background-color: var(--play-action);
    backdrop-filter: blur(3px);
    border: none;
    border-radius: 15px;
    width: 68px;
    height: 71px;
    grid-column: 2;
    grid-row: 1;
}

.time-info{
    display: inline-flex;
    align-items: center;
    z-index: 3;
    padding: 2px 5px;
    font-size: 1.3rem;
    border-radius: 4px;
    transform: translate(-69px,-30px);
    color: var(--rating-checked);
    background-color: var(--time-info);
    width: 6.2rem;
    height: 2rem;
    grid-column: 3;
    grid-row: 2;
}

.time-value{
    margin-left: 5px;
}

.card-contents-below{
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    color: var(--home-cards-contents);
    height: 3.8rem;
    grid-area: card-below;
}

.card-contents-aside{
    height: inherit;
    width: 3.6rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    grid-area: card-aside;
}

.aside-btns{
    color: var(--home-cards-contents);
    min-width: 0;
    min-height: 0;
    padding: 0;
    display: inline-flex;
    border: none;
    margin: 5px;
}

.view-count-text{
    margin: 5px;
}

.creator-text{
    width: 10rem;
    overflow-x: clip;
    white-space: nowrap;
}

.playlist-btn{
    margin: 5px 0;
    max-height: 3rem;
    overflow-y: hidden;
    max-width: inherit;
}

.add-to-playlist-modal{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0 2rem 0;
}

.add-to-playlist-backdrop{
    padding: inherit;
}

.add-to-playlist-dialog{
    width: fit-content;
}

.add-to-playlist-btn-section{
    display: grid;
    padding: 0 0 1rem 0;
}

.close-modal-add-playlist {
    position: unset;
    min-width: unset;
    min-height: unset;
    transform: unset;
    margin-left: 90%;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: unset;
    padding: unset;
}

.add-to-playlist-btn-border{
    border-color: var(--add-to-playlist-border);
    color: var(--add-to-playlist-color);
}

.add-section{
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--primary-colour);
}

.add-section-text{
    margin-left: 5px;
}

.likeColor{
    color: var(--like-color);
}
