@import url("https://threadui.netlify.app/components/component.css");

:root {
  --primary-colour: #7066bd;
  --btn-hover: #beb7f2;
  --bg:#edf7ff;
  --nav-shadow:#00000033;
  --nav-link-hover-bg:#8d84d0;
  --nav-link-hover-text:#e2e8f0;

  --home-card-bg:#e1e3eb;
  --home-cards-contents:#0d119b;
  --play-action:#0000003d;
  --time-info:#798897bf;

  --input-box:#00000047;
  --delete-hover: #ff4c0a;

  --playlist-card-bg: #8d84d052;
  --add-to-playlist-border: #3e3662;
  --add-to-playlist-color: #2f3048;
  --like-color:#a52a2a;
}

body{
  background-color: var(--bg);
}

.wrapper{
  display: grid;
  grid-template-columns: 6.4rem 1fr; 
  grid-template-areas:  
  "header header header header"
  "aside main main main"
  "aside main main main"
  "aside main main main"
  "aside main main main"
  "aside main main main"; 
}

.header{
  grid-area: header;
}

.sidebar{
  grid-area: aside;
}

.main-container{
  grid-area: main;
  padding: 2rem 4rem;
}

.loader-section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 7rem);
}

@media only screen and (max-width: 600px) {
    .login-main-container{
		  padding: 0;
    }
    .page-align{
      display: flex;
      align-items: center;
      justify-content: center;
    }

}


                   
