@import url("https://threadui.netlify.app/components/component.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
  --primary-colour: #7066bd;
  --btn-hover: #beb7f2;
  --bg:#edf7ff;
  --font-color: var(--black);
  --nav-shadow:#00000033;
  --nav-link-hover-bg:#8d84d0;
  --nav-link-hover-text:#e2e8f0;
  --auth-box:#beb7f230;

  --home-card-bg:#e1e3eb;
  --home-cards-contents:#0d119b;
  --play-action:#0000003d;
  --time-info:#798897bf;

  --input-bg:#f6f8ff7a;
  --input-box:#00000047;
  --delete-hover: #ff4c0a;

  --playlist-card-bg: #8d84d052;
  --add-to-playlist-border: #3e3662;
  --add-to-playlist-color: #2f3048;
  --like-color:#a52a2a;

  --toastify-color-dark:#1c1b23;
  --toastify-color-info: var(--info-text);
  --toastify-color-success: var(--success-text);
  --toastify-color-warning: var(--warning-text);
  --toastify-color-error: var(--error-text);
}

[data-theme="dark"] {
    --bg: #1c1b23;
    --font-color:#d7defa;
    --btn-hover:#9189c9;
    --nav-shadow: #e7d4d433;
    --home-card-bg: #35373c;
    --home-cards-contents: #b2b4e4;
    --auth-box:#89869f30;
    --input-box:#dfd8d847;
    --input-bg:#665daa12;
    --dropdown-bg:#3c3a46;
    --dropdown-color:#e0e7ec;
    --modal-dialog:#1e1c27;
    --add-to-playlist-color:#d5d6eb;
    --add-btn:#c6c4d1;
    --add-bg:#333748;
}

[data-theme="dark"] img {
  filter: brightness(.8) contrast(1.2);
}

body{
  background-color: var(--bg);
}

.wrapper{
  display: grid;
  grid-template-columns: 6.4rem 1fr; 
  grid-template-areas:  
  "header header header header"
  "aside main main main"
  "aside main main main"
  "aside main main main"
  "aside main main main"
  "aside main main main"; 
}

.header{
  grid-area: header;
}

.sidebar{
  grid-area: aside;
}

.main-container{
  grid-area: main;
  padding: 2rem 4rem;
}

.loader-section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 7rem);
}

.font-color{
  color: var(--font-color);
}

.Toastify__toast-body {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  
    .login-main-container{
		  padding: 0;
    }

    .page-align{
      display: flex;
      align-items: center;
      justify-content: center;
    }

}


                   
